.bgBlack {
  background: #020415;
}

.features {
  color: white;
  img {
    filter: invert(100%);
  }
  h2 {
    width: 100%;
    margin-bottom: 90px;
  }
  p {
    max-width: 270px;
    margin: auto;
  }
}

.feature-icon {
  max-width: 80px;
}