@import "./../scss/_variables.scss";

* {
  font-family: $fontFamily;
  transition: .2s;
}

$linkHover: #0FD0AE;

header {
  font-weight: 500;
  font-size: 16px;
  position: relative;
  z-index: 2;
  a {
    text-decoration: none;
    color: white;
    &:hover {
      color: $linkHover;
    }
  }
  .logo {
    font-weight: 500;
    font-size: 23px;
  }
  nav {
    ul {
      width: 100%;
      margin: auto;
    }
    li {
      list-style: none;
      display: inline-block;
      padding-left: 30px;
      margin: auto;
      a {
        text-decoration: none;
      }
    }
  }
}

.join-btn {
  background: #0FD0AE;
  border: none;
  box-shadow: none;
  padding: 10px 35px;
  outline: none;
  border-radius: 50px;
  color: white;
  cursor: pointer;
  &:hover {
    background: #0DBA9D;

  }
}