@import "./../scss/_variables.scss";

* {
  font-family: $fontFamily;
}

header {
  a {
    text-decoration: none;
    color: $black;
  }
  .logo {
    font-weight: bold;
    font-size: 23px;
  }
  nav {
  ul {
    margin: auto;
  }
    li {
      list-style: none;
      display: inline-block;
      padding-left: 30px;
      margin: auto;
      a {
        text-decoration: none;
      }
    }
  }
}

.join-btn {
  background: #00C083;
  border: none;
  box-shadow: none;
  padding: 10px 30px;
  outline: none;
  border-radius: 50px;
  color: white;
  cursor: pointer;
}