@import "./../scss/variables";

.topSection {
  background: url("../images/bg.png") top left no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  color: white;
  justify-content: center;
  overflow: hidden;
  position: relative;
  margin-top: -90px;
  padding: 80px 0;
  .content {
    padding-left: 0;
    padding-right: 0;
  }
  &:before,
  &:after {
    height: 100%;
    position: absolute;
    top: 0;
    content: '';
    opacity: .99;
  }
  &:before {
    width: 40%;
    background: $black;
  }
  &:after {
    background: linear-gradient(to right, $black, transparent);
    width: 130%;
    left: 40%;
  }
  .content {
    position: relative;
    z-index: 1;
  }
  h1 {
    font-size: 66px;
    line-height: 146%;
    font-weight: 600;
  }
  p {
    font-size: 22px;
    line-height: 34px;
  }
  .join-btn {
    width: 200px;
    text-align: center;
    font-size: 22px;
    line-height: 55px;
    height: 55px;
    padding: 0;
    margin-top: 50px;
  }
}