@import "./../scss/variables.scss";

.join-btn {
  background: #0DBA9D;
  border: none;
  box-shadow: none;
  padding: 10px 30px;
  outline: none;
  border-radius: 50px;
  color: white;
  cursor: pointer;
  &:hover {
    background: #16B18F;
    box-shadow: 0 8px 15px rgba(0, 0, 0, .2);
  }
}