@import "./../scss/_variables.scss";

nav {
  flex: 1;
  text-align: left;
  @media (max-width: $hideNavWidth) {
    display: none !important;
  }
  ul {
    width: 100%;
    margin: auto;
    li {
      list-style: none;
      display: inline-block;
      padding-left: 45px;
      margin: auto;
      a {
        text-decoration: none;
      }
    }
  }
}
