@import "./../scss/_variables.scss";

.bgGray {
  background: #F1F3F4;
}

.pwaReliable {
  position: relative;
  background: $darkPink;
  color: white;
  overflow: hidden;
  &:after {
    content: '';
    position: absolute;
  }
  &:after {
    height: 100%;
    width: 50%;
    left: 0;
    top: 0;
    background: url("../images/social.svg") center right no-repeat;
    background-size: auto 100%;
    opacity: .9;
    @media (max-width: 890px) {
      left: 0;
      right: 0;
      margin: auto;
      top: 60px;
      width: 100%;
      background-position: top center;
      height: 300px;
    }
  }
  .box {
    padding: 0 60px;
  }
  .row {
    min-height: 350px;
    align-items: center;
    justify-content: flex-end;
  }
  .col-lg-6 {
    width: 45%;
    @media (max-width: 890px) {
      width: 100%;
      max-width: 100%;
      margin: 340px auto 0;
      text-align: center;
      p {
        margin-bottom: 15px;
        @media (max-width: 890px) {
          br {
            display: none;
          }
        }
      }
    }
  }
}
