@import "./../scss/variables.scss";

.technologies {
  img {
    width: 66px;
    filter: grayscale(90%);
    transition: $transition;
    @media (max-width: $phone-portrait-max-width) {
      width: 56px;
    }
  }
  .row {
    justify-content: space-between;
  }
  h2 {
    margin-bottom: 35px;
    @media (max-width: 620px) {
      text-align: center;
    }
  }
  h3 {
    font-size: 18px;
    padding-left: 10px;
    @media (max-width: 1000px) {
      display: none;
    }
    &:hover {
      cursor: default;
    }
  }
  .item-flex {
    display: flex;
    align-items: center;
    opacity: .8;
    &:hover {
      opacity: 1;
      h3 {
        opacity: .8;
      }
      img {
        filter: grayscale(10%);
      }
    }
  }
  .content {
    padding-bottom: 60px;
    @media (max-width: $phone-landscape-max-width) {
      padding-bottom: 40px;
    }
  }
}