@import "./../scss/_variables.scss";

.demoGame {
  position: absolute;
  width: 50%;
  height: $displayHeight;
  right: 0;
  top: 0;
  z-index: 1;
  filter: grayscale(6%);
  transition: $transition;
  cursor: grab;
  &:hover {
    filter: grayscale(1%);
  }
  @media (max-width: 970px) {
    display: none;
  }
}

.topSection {
  height: $displayHeight;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  color: white;
  justify-content: center;
  overflow: hidden;
  position: relative;
  margin-top: -120px;
  padding: 120px 0 120px;
  background: $black;
  * {
    z-index: 0;
    opacity: 0.95;
  }
  .content {
    padding-left: 0;
    padding-right: 0;
  }
  .content {
    position: relative;
    z-index: 1;
  }
  h1 {
    font-size: 66px;
    line-height: 142%;
    font-weight: 700;
    span {
      color: $green;
    }
    @media (max-width: 420px) {
      font-size: 42px;
    }
  }
  p {
    font-size: 20px;
    opacity: 0.7;
    @media (max-width: $phone-portrait-max-width) {
      max-width: 300px;
      br {
        display: none;
      }
    }
  }
  .join-btn {
    width: 150px;
    text-align: center;
    font-size: 19px;
    line-height: 50px;
    height: 50px;
    padding: 0;
    margin-top: 20px;
    font-weight: 500;
  }

  .description {
    max-width: 40%;
    @media (max-width: 970px) {
      width: 100%;
      max-width: 100%;
    }
    @media (max-width: $phone-portrait-max-width) {
      max-width: 100%;
    }
  }
}
