@import "./../scss/_variables.scss";

.topSection {
  background: $footerBG;
  height: 800px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  color: white;
  justify-content: center;
  overflow: hidden;
  position: relative;
  margin-top: -90px;
  padding: 120px 0 120px;
  .content {
    padding-left: 0;
    padding-right: 0;
  }
  &:after {
    position: absolute;
    top: 55%;
    transform: translateY(-50%);
    right: 5%;
    content: '';
    width: 46%;
    height: 100%;
    background: url("../images/development.svg") center center no-repeat;
    background-size: contain;

    @media (max-width: 620px) {
      width: 100%;
      opacity: .2;
    }
  }
  .content {
    position: relative;
    z-index: 1;
  }
  h1 {
    font-size: 66px;
    line-height: 142%;
    font-weight: 600;
    @media (max-width: 620px) {
      span {
        display: none;
      }
    }
    @media (max-width: 420px) {
      font-size: 42px;
    }
  }
  p {
    font-size: 20px;
    @media (max-width: $phone-portrait-max-width) {
      max-width: 300px;
      br {
        display: none;
      }
    }
  }
  .join-btn {
    width: 150px;
    text-align: center;
    font-size: 19px;
    line-height: 50px;
    height: 50px;
    padding: 0;
    margin-top: 20px;
    font-weight: 500;
  }
}
