$black: #000111;

$fontFamily: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

$bgColor: linear-gradient(241.08deg, #080A0F 13.4%, #131625 118.4%);
$border-radius: 50px;
$colorDark: #0E1771;
$footerBG: linear-gradient(194.49deg, $black -12.15%, #080A0F 98.41%);
$linkHoverColor: #21A2E8;
$btnHover: #00BFA5;

$transition: .3s;

$hideNavWidth: 880px;

//heights
$sectionPadding: 40px;
$headerHeight: 88px;

$inputHeight: 54px;

$blockMargin: 35px;

$containerPaddingTop: 78px;

$logoSize: 22px;

// banner

$padding: 30px;

$yellow: #F7D168;
$yellowDark: #D57E0B;

///////////////////////////

/////////////// @media sizes

// laptop
$laptop-min-width: 1200px;

// tablet
$tablet-landscape-max-width: 1199.98px;
$medium-devices-max-width: 991.98px;
$large-devices-min-width: 992px;
$tablet-portrait-min-width: 768px;

// phone
$phone-landscape-max-width: 767.98px;
$phone-portrait-max-width: 575.98px;