$fontFamily: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
$border-radius: 50px;
$transition: .3s;
$hideNavWidth: 880px;

// colors
$black: #11081f;
$linkHover: #A6125E;
$green: #33cdca;
$join: #FD00A0;
$colorDark: #93032f;
$darkPink: #310110;
$footerBG: linear-gradient(194.49deg, $black -12.15%, $darkPink 98.41%);
$linkHoverColor: $linkHover;
$btnHover: $linkHover;
$red: #93032f;
$bgColor: linear-gradient(241.08deg, #080A0F 13.4%, $red 118.4%);

//heights
$sectionPadding: 40px;
$headerHeight: 88px;
$inputHeight: 54px;
$blockMargin: 35px;
$containerPaddingTop: 78px;
$logoSize: 22px;
$displayHeight: 720px;

// banner
$padding: 30px;
$yellow: #F7D168;
$yellowDark: #D57E0B;

//// @media sizes
// laptop
$laptop-min-width: 1200px;

// tablet
$tablet-landscape-max-width: 1199.98px;
$medium-devices-max-width: 991.98px;
$large-devices-min-width: 992px;
$tablet-portrait-min-width: 768px;

// phone
$phone-landscape-max-width: 767.98px;
$phone-portrait-max-width: 575.98px;
