@import "variables";

&.websites {
  background: url("../images/games-bg-2.png") center center;
  background-size: cover;
  .container {
    max-width: 1370px;
  }
  @media (max-width: 980px) {
    position: relative;
    margin-top: -70px;
    margin-bottom: -24px;
    padding-bottom: 0;
    .col-lg-4 {
      display: none;
      &:nth-child(1) {
        display: flex;
        justify-content: center;
      }
    }
  }
}

.websites-2 {
  margin-top: -5px;
  padding-bottom: 30px;
  @media (max-width: 970px) {
    display: none;
  }
}
