#single-page {
  header {
    background: url("../images/games-bg-2.png") center center;
    background-size: cover;
  }
  .playable-ads-iframe {
    margin-bottom: -8px;
  }
}
.singlePage {
  .container {
    max-width: 800px;
  }
  h3 {
    margin-top: 40px;
  }
}
