@import "./../scss/_variables.scss";

.socialIcons {
  $iconWidth: 35px;
  .social-icon {
    position: absolute;
    left: 0;
    bottom: -130px;
    max-width: $iconWidth;
    opacity: .8;
    &:hover {
      opacity: 1;
    }
    &.linkedin {
      left: $iconWidth*1.5;
    }
    &.upwork {
      left: $iconWidth*3;
    }
    &.cv {
      left: $iconWidth*4.5;
    }
  }
}
