@import "./../scss/_variables.scss";

.socialIcons {
  $iconWidth: 35px;
  $iconMarginBottom: -130px;
  .social-icon {
    position: absolute;
    left: 0;
    bottom: $iconMarginBottom;
    max-width: $iconWidth;
    opacity: .6;
    &:hover {
      opacity: 1;
    }
    &.linkedin {
      left: $iconWidth*1.5;
    }
    &.upwork {
      left: $iconWidth*3;
    }
    &.instagram {
      left: $iconWidth*4.5;
      bottom: $iconMarginBottom + 1px;
    }
    &.cv {
      left: $iconWidth*5.9;
      bottom: $iconMarginBottom - 2px;
    }
    &.mail {
      left: $iconWidth*7.4;
      max-width: $iconWidth*0.72;
    }
    @media (max-width: 970px) {
      position: relative;
      left: 0;
    }
  }
  @media (max-width: 970px) {
    display: flex;
    justify-content: center;
    position: absolute;
  }
}
