@import "variables";

.technologies {
  color: $black;
  background: #fff;
  .container {
    max-width: 1420px;
  }
  img {
    height: auto;
    filter: grayscale(5%);
    transition: $transition;
    @media (max-width: $phone-portrait-max-width) {
      width: 56px;
    }
  }
  .row {
    justify-content: space-between;
  }
  h2 {
    margin-bottom: 35px;
    @media (max-width: 620px) {
      text-align: center;
    }
  }
  h3 {
    opacity: 0.9;
    font-size: 18px;
    padding-left: 10px;
    @media (max-width: 1000px) {
      display: none;
    }
    &:hover {
      cursor: default;
    }
  }
  .item-flex {
    display: flex;
    align-items: center;
    &:hover {
      img {
        filter: grayscale(1%);
      }
    }
  }
  .content {
    padding-bottom: 60px;
    @media (max-width: $phone-landscape-max-width) {
      padding-bottom: 40px;
    }
  }
  .technologiesList {
    margin-top: 30px;
    justify-content: space-around;
    @media (max-width: $phone-portrait-max-width) {
      flex-wrap: wrap;
      .item-flex {
        width: 33%;
        display: flex;
        justify-content: center;
        img {
          width: 70px;
        }
      }
    }
  }
}
